<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please Choose one Chain</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/choose.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<!--Click one Button to Choose one Chain-->
<div class="customizednavbar">
<ul style="list-style-type:none;">
    <li style="display:inline;"> Welcome {{ username }}!</li>
     
    <li style="display:inline;float:right;">
       
        <div class="navbtn"><a href="/accounts/logout/" class="btn btn-info" role="button">Log Out</a><div>
    </li>
    {% if admin %}
    <li style="display:inline;float:right;">
              <div class="navbtn">  <a href="/manage/" target="_blank" class="btn btn-info" role="button">Manage</a>
               </div>
    </li> 
        {% endif %}
</ul>
</div>

<div class="container">
   
    <div class="chooseHead">
        <h2>Choose Supply Chain Simulation Type</h2>

        <div class="row chooseButtons">
            <div class="upper">
            <a  href="/simulate/" target="_blank">
                <img src="/static/img/sea9.png" alt="supply chain 1">
            </a>
            </div>
            <div class="lower">
            <a href="/simulate/" target="_blank">
               <p class="helptext" style="font-weight:bold"> Supply Chain I </p>
               <p class="helptext"> The inventory is split to US and EU </p>
            </a>
            </div>
        </div>
       <div class="row chooseButtons">
            <div class="upper">
            <a  href="/simulate2/" target="_blank">
                <img src="/static/img/ship6.png" alt="supply chain 2">
            </a>
            </div>
            <div class="lower">
            <a href="/simulate2/" target="_blank">
                <p class="helptext" style="font-weight:bold">Supply Chain II</p>
                <p class="helptext">  Completely separated US and EU markets</p>
            </a>
            </div>
        </div>
        
    </div>
</div>

<!--jQuery and Bootstrap-->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>